
:root {
    --backcolor:#3e3d3b;
    --linkcolor:pink;
}


body{
      /* font-family:helvetica; */
}

body.tc-body{

    font-size:16px;
    background-color: var(--backcolor);
}



a {
    color:var(--linkcolor);
}





/* Mark external links with an icon. */
a[href^="http://"]:after,
a[href^="https://"]:after {
    content: '}'; /*'\1F5D7';*/
    font-style: roman;
    color:grey;
}

a[href^="http://"]:before,
a[href^="https://"]:before {
    content: '{'; /*'\1F5D7';*/
    font-style: roman;
    color:grey;
}


nav { padding-left:142px;z-index:1000;position:absolute; } nav ul { padding:0;float:left; } nav ul li { list-style-type:none;white-space:pre;float:left; padding-left:20px; } nav ul li a {color:white;}

.footer {
    border-top:1.5px solid;padding:30px 0 0 0;clear:both
}

.footer div {
 padding-top: 10px;
}

pre{
    color:#657b83;
}

@media only screen and (max-width: 1000px) {
.body{
    padding-left:1%;
    width:99%;
    padding-top:20px;
}

nav { background-color:var(--backcolor);a; padding-left:1%;z-index:1000;position:absolute;top:1px; } nav ul { padding:0;float:left; } nav ul li { list-style-type:none;white-space:pre;float:left; padding-left:20px; } nav ul li a {color:white;}

 h2{
    font-size:0.8em;
    display:inline;
}
}
